<app-sec-header></app-sec-header>
<div class="wrapper">
<p style="text-align: right; padding-right: 50px;">
  <span style="color: #455040; font-size: 18px;"><a style="text-decoration: none; color: #455040;" routerLink="/">الرئيسية</a></span>/ <span style="color: #455040; font-size: 26px;">أين تجدنا</span>
</p>
<p style="font-size: 18px; color: #455040; text-align: right; padding-right: 100px;">
    إيماناً منا بأن التذكار يجب أن يكون جزءاً من التجربة <br>
منتجات مرفد تتوفر فقط في المناطق السياحية المخصصة

</p>
<br>
<h3 style="color: #455040; text-align: right; padding-right: 100px; font-family: 'DIN-Next-LT';"> :تواجدنا سابقاً في </h3>
<br>
<br>
<div class="text-center">

  <ngb-carousel *ngIf="event_list">
    <ng-template ngbSlide *ngFor="let event of event_list">
      <img [src]="event.img" alt="Random slide" width="75%" height="450px">
      <!-- <div class="carousel-caption">
        <h3>{{ event.eventLocation }}</h3>
        <p [innerText]="event.eventDescription"></p>
      </div> -->
    </ng-template>
  </ngb-carousel>
</div>
<br>
<br>
<p style="font-size: 18px; color: #455040; text-align: right; padding-right: 100px;">
    ويمكنكم زيارة صفحتنا على الانستقرام<br> لمعرفة أماكن تواجدنا في المناسبات الترفيهية والثقافية والمناطق السياحية
</p>
<br>
<div class="push"></div>
</div>
<app-sub-footer></app-sub-footer>