<div>
    <div class="row">
        <div class="col-3 text-right">
            <img src="assets/icons/Icon-08.png" height="30px" width="30px"><img src="assets/icons/Icon-09.png" height="30px" width="30px">
        </div>
        <div class="col-6 text-center">
            <img src="assets/img/Default-coming-soon.jpg" height="300px" width="400px">
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <img src="assets/icons/Icon-12.png" height="30px" width="30px"><img src="assets/icons/Icon-13.png" height="30px" width="30px">
        </div>
    </div>

</div>
