.des{
    text-align: right;
    padding-top: 250px;
    padding-right: 50px;
    padding-left: 100px;
    color:#455040;
    font-size: 30px;
}

.first-des{
    position: absolute;
    top: 400px; 
    right: 100px;
    color: white;
    font-size: 28px;
    width: 350px;
    text-align: right;
}

.features{
    position: relative;
    right: 0px;
    text-align: right;
}

.pic-header{
    margin-right: 0px;
    margin-left: 0px;
}