<app-sec-header></app-sec-header>
<p style="font-size: 18px; color: #455040; text-align: right; padding-right: 100px;">
    <br> بدأت فكرتنا بالبحث عن ما يربط مشاعرنا بالأماكن والذكريات 
    <br> ومن هنا .. أُنتجت تذكارات مرفد، نربط الرؤية بالموسيقى والرائحة <br>
    لنُحفز ذاكرتك على عيش التجربة مجدداً حيث كنت 
</p>
<br>
<h3 style="color: #455040; text-align: right; padding-right: 100px; font-family: 'DIN-Next-LT';"> رؤيتنا وأهدافنا</h3>
<p style="font-size: 18px; color: #455040; text-align: right; padding-right: 100px;">

    هدية تذكارية تجسد منطقة سعودية معينة بالصوت والرائحة <br>
    ليسترجع الفرد شعور التجربة كاملة
</p>
<br>


<app-sub-footer></app-sub-footer>