<footer>
    <hr>
    <br>
    
    <div class="row p-0">
        <div class="social col-6 text-left">
            <ul>
                <li><a><img src="assets/icons/Icon-10.png" width="30px" height="30px"></a></li>
                <li><a><img src="assets/icons/Icon-11.png" width="30px" height="30px"></a></li>
            </ul>
        </div>
        <div class="footer-links col-6 text-right">
            <ul>
                <li><a href="/contact-us">تواصل معنا</a></li>
                <!-- <li><a href="#">الأسئلة المتكررة</a></li>
                <li><a href="#">خدمة العملاء</a></li> -->
            </ul>
        </div>
        <br>
        <br>
        <div class="footer-img"><img src="assets/img/footer.png" width="100%"></div>
        
    </div>
</footer>