.pic1{
    right: 0px;
    padding: 0%;
}

.pic2{
    left: 0px;
    padding: 0%;
}

.product-title{
    text-align: right;
    padding-top: 150px;
    padding-right: 50px;
}

.product-title a{
    text-decoration: none;
    color: #b9773f;
}
.product-title2 a{
    text-decoration: none;
    color: #b9773f;
}

.product-title h2{
    font-size: 2rem;
    color: #b9773f;
}

.product-title h1{
    font-size: 4rem;
}

.product-title2{
    text-align: left;
    padding-top: 150px;
    padding-left: 50px;
}

.product-title2 h2{
    font-size: 2rem;
    color: #b9773f;
}

.product-title2 h1{
    font-size: 4rem;
}

.page-body {
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
}

//fadeIn right
.fadeInRight{
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  .animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInRight {
    0% {
       opacity: 0;
       -webkit-transform: translateX(20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
  }
  
  @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translateX(20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
  }


  @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 } 

// .bread{
//     text-align: right;
//     right: 30px;
//     margin: 0px;
// }
