<!-- Header -->
<app-sub-header></app-sub-header>
<!-- <app-breadcrumbs></app-breadcrumbs> -->

<div>
    <br>
    <div class="row p-0">
        <div class="col-4 product-title">
            <h1>رجال ألمع</h1>
            <h2><a routerLink="/products/3">عرض المنتج</a></h2>
        </div>
        <div class="col-8 text-center pic1">
            <img src="{{Products[2].productHeader.headerPic}}" width="100%" height="400px">
        </div>
    </div>
    <br>
    <br>
    <div class="row p-0">
        <div class="col-8 text-center pic2">
            <img src="{{Products[1].productHeader.headerPic}}" width="100%" height="400px">
        </div>
        <div class="col-4 product-title2">
            <h1>جدة التاريخية</h1>
            <h2><a routerLink="/products/1">عرض المنتج</a></h2>
        </div>
    </div>
    <br>
    <br>
    <div class="row p-0">
        <div class="col-4 product-title">
            <h1>الدرعية التاريخية</h1>
            <h2><a routerLink="/products/2">عرض المنتج</a></h2>
        </div>
        <div class="col-8 text-center pic1">
            <img src="{{Products[0].productHeader.headerPic}}" width="100%" height="400px">
        </div>
    </div>
    
</div>
<br>
<!-- <div class="row">
    <div class="col align-self-center">
        <img src="assets/icons/Icon-12.png" width="50px" height="50px"> <h3> 1 of 1 </h3><img src="assets/icons/Icon-13.png" width="50px" height="50px">
    </div>
</div> -->

<br>
<br>


<!-- Footer -->
<app-footer></app-footer>

