.pic1{
    right: 0px;
    padding: 0%;
}

.pic2{
    left: 0px;
    padding: 0%;
}

.product-title{
    text-align: center;
    padding: 100px;
}

.product-title h2{
    font-size: 16px;
    color: #b9773f;
}

// .bread{
//     text-align: right;
//     right: 30px;
//     margin: 0px;
// }