
<!-- header -->
<!-- <app-header></app-header> -->
<div class="header">
    <div class="text-right menu animated animate__fadeInRight">
        <a routerLink="/find-us">أين تجدنا  </a>
        <a routerLink="/products">منتجانتا   </a>
        <a routerLink="/about-us">عن مرفد   </a>
        <a routerLink=""><img src="assets/img/logo-light.png" height="100px" width="100px"></a>
    </div>
</div>

<img class="left-side-background fade-in" src="assets/img/Eelemnts-04.png">
<img class="right-side-background fade-in" src="assets/img/Eelemnts-03.png" alt="">
<img class="bottom-side-background fade-in" src="assets/img/bottom.png" alt="">
<div class="row home text-right ">
    <div class="col-4">
        
    </div>
    <div class="col-4 content fade-in">
        <h1>
            مرفد
        </h1>
        <h2>
            لتعيش الشعور من جديد
        </h2>
        <button type="button" class="btn btn-default shadow" routerLink="/products">منتجاتنا</button>
    </div>
    <div class="col-4">
        
    </div>
</div>

