
<!-- header -->
<app-header></app-header>
<img class="left-side-background" src="assets/img/Eelemnts-04.png" height="100%" width="455px">
<img class="right-side-background" src="assets/img/Eelemnts-03.png" alt="" height="100%" width="330px">
<img class="bottom-side-background" src="assets/img/bottom.png" alt="" height="169px" width="69%">
<div class="row home text-right">
    <div class="col-4">
        
    </div>
    <div class="col-4">
        <h1>
            مَرفد
        </h1>
        <h2>
            لتعيش الشعور من جديد
        </h2>
        <button type="button" class="btn btn-default shadow" routerLink="/products">منتجاتنا</button>
    </div>
    <div class="col-4">
        
    </div>
</div>
<!-- footer -->

<!-- <app-footer></app-footer> -->
